<div id="user_nav">
  <% if buser_signed_in? %>
    Signed in as <%= current_buser.email %>. Not you?
    <%= link_to "Sign out", destroy_buser_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_buser_registration_path %> or <%= link_to "sign in", new_buser_session_path %>
  <% end %>
</div>
<center><h1> Calender Event Task </h1></center>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>
